.topics_title {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 40px;
}

.paragraph_text {
  font-family: Helvetica, sans-serif;
  color: #000000;
  font-size: 15px;
}

#compactobject_img {
  width: 400px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#blackhole1_img {
  width: 410px;
  height: 240px;
  margin-left: 25px;
  margin-right: 7.5px;
}

#blackhole2_img {
  width: 320px;
  height: 240px;
  margin-left: 7.5px;
  margin-right: 17px;
}

#estrelladeneutrones1_img {
  width: 440px;
  height: 240px;
  margin-left: 25px;
  margin-right: 7.5;
}

#estrelladeneutrones2_img {
  width: 300px;
  height: 240px;
  margin-left: 7.5px;
  margin-right: 10px;
}

#estrelladeneutrones3_img {
  width: 300px;
  height: 280px;
  margin-top: 10px;
  margin-left: 260px;
  display: block;
}

#estructura_img {
  width: 420px;
  height: 270px;
  margin-left: 15px;
  margin-right: 5.5px;
}

#estrelladequarcks_img {
  width: 320px;
  height: 280px;
  margin-right: 0px;
  margin-left: 15px;
}
