.topics_title {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 40px;
}

.paragraph_text {
  font-family: Helvetica, sans-serif;
  color: #000000;
  font-size: 15px;
}

#gravity_img {
  width: 350px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.videos {
  margin-left: 170px;
  margin-right: 250px;
  display: block;
}
