.topics_title {
  font-family: Helvetica, sans-serif;
  color: #000000;
  font-size: 40px;
}

.paragraph_text {
  font-family: Helvetica, sans-serif;
  color: #000000;
  font-size: 15px;
  text-align: justify;
}

#ligoandvirgo_img {
  width: 350px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Einstein_waves_img {
  width: 400px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#blackhole_collision_img {
  width: 270px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.videos {
  margin-left: 170px;
  margin-right: 250px;
  display: block;
}
